.wrapper
  .banner
    .banner__container
      .banner__title
        .banner__title-promo АКЦІЯ
        .banner__title-welcom Вітальний БОНУС
        .banner__title-bonus 4500₴
        .banner__title-spin 100 ФРІСПІНІВ
      .banner__pers
        img(src='img/pers.png' alt='pers')
    .banner__text Андрій Ярмоленко #[br] #[span бренд-амбасадор]







